    <select>
        {% for type in types %}
            <option value=""> {{type.libelle}} </option>
        {% endfor %}
    </select> 

                     {# {% extends "::base.html.twig" %}

{% block title %}Formulaire{% endblock %}

{% block body %}
<h1 style="text-align:center;">Form</h1>
<from>
{{form(form)}}
</form>

{% endblock %} #}